
<div class="d-flex justify-content-center">
<div class="card bg-dark text-white" style="width: 18rem;">
    <img class="card-img-top" src="/images/logo-2.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-white"><b class="text-info">Job description:</b> 
            <p>{{description}}</p>
        <li class="list-group-item bg-dark text-white"><b class="text-info">Company:</b>
            <p>{{company.name}}</p>
        <li class="list-group-item bg-dark text-white"><b class="text-info">Salary wish:</b>
            <p>{{salarywish}}</p>
        </li>
        <li class="list-group-item bg-dark text-white"><b class="text-info">My rating:</b>
            <p>{{jobrating}}</p>
        </li>
        <li class="list-group-item bg-dark text-white"><b class="text-info">Created:</b>
            <p>{{createdAt}}</p>
        </li>
        <li class="list-group-item bg-dark text-white"><b class="text-info">Last update:</b>
            <p>{{updatedAt}}</p>
        </li>
    </ul>
    <div class="text-info">
        <a href="/positions" class="card-link">Back</a>
    </div>
</div>
</div>