<h1>Jobs I applied to:</h1>

{{#each positions}}
    <section class="positions">

        <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body bg-danger">
        <h3 class="card-title"><b>{{this.title}}</b></h3>
        <p class="card-text"><b>Company:</b> {{company.name}} <br />
            <b>Job description:</b> {{description}} <br />
            <b>Salary wish:</b> {{salarywish}} <br />
            <b>My rating:</b> {{this.jobrating}} <br />
        </p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

    </section>
{{/each}}
