<h1>{{title}}</h1>

<hr />

<h3>Company:</h3>
<p>{{company.name}}</p>

<h3>Job description:</h3>
<p>{{description}}</p>

<h3>My rating:</h3>
<p>{{position.jobRating}}</p>

<h3>Created:</h3>
<p>{{timestamp}}</p>

<hr />

<a href="/positions">Back</a>

